{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>django-images</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h3 class="mt-3"><a href="https://github.com/duplxey/django-images">django-images</a></h3>
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Images</h5>
                            {% if images.count == 0 %}
                                No images have been uploaded yet.
                            {% else %}
                                {% render_table image_table %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Upload</h5>
                            <p class="card-text">Fill out the form and press submit in order to upload a new image.</p>
                            <form action="{% url "images-upload" %}" enctype="multipart/form-data" method="post">
                                {% csrf_token %}
                                {{ upload_form|crispy }}
                                <input type="submit" class="btn btn-primary w-100" value="Upload">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>